.story #place {
    background-image: url(../assets/images/Studio_Koukaki-image_place.png);
    position: relative;
}

#place .big-cloud {
    height: 115px;
    right: 360px;
    top: 60px;
  }


#place .little-cloud {
    height: 50px;
    right: 800px;
    top: 150px;
}

  .little-cloud, #place .big-cloud {
    transition: transform 0.2s ease-out;
    position: absolute;
    filter: blur(20px);
}
