.story #place {
  background-image: url(../assets/images/Studio_Koukaki-image_place.png);
  position: relative;
}

#place .big-cloud {
  height: 120px;
  right: 120px;
  top: 60px;
}

#place .little-cloud {
  height: 50px;
  right: 400px;
  top: 200px;
}

.little-cloud, #place .big-cloud {
  transition: transform 0.2s ease-out;
  position: absolute;
  filter: blur(23px);
  animation: cloudMove 4s linear infinite; /* Apply animation to clouds */
}

